# --- Application ---
ENVIRONMENT=local
DEBUG=true

# --- GCP ---
GCP_PROJECT_ID="meridian-platform-ai"
GCP_REGION=us-central1
GCP_SERVICE_ACCOUNT_PATH=./credentials/service-account.json
GCS_BUCKET_NAME=meridian-platform-ai-vector-staging
GCS_PREFIX=uploads/
GOOGLE_API_KEY = #To be filled

# --- Vertex AI LLM ---
VERTEX_LLM_MODEL_NAME=gemini-2.5-pro
VERTEX_EMBEDDING_MODEL_NAME=gemini-embedding-2-preview
VERTEX_LLM_TEMPERATURE=0.0


# --- Vertex AI Vector Search ---
VECTOR_SEARCH_INDEX_ID= #To be filled
VECTOR_SEARCH_INDEX_ENDPOINT_ID= #To be filled